.setting-page {
  position: absolute;
  width: 100%;
  height: 100%;
  background: inherit;
}
.set-header {
  font-weight: 500;
  margin-left: 20px;
}
.set-header h1 {
  font-size: 1.8rem;
  margin-bottom: 20px;
}
.set-header h3 {
  font-size: 1.2rem;
}
.setting-page form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}
.setting-page form h1 {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 20px;
}
.set-input {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.set-input input {
  background-color: #ffffff;
  border: 1px solid #dddcdc;
}
.set-btn {
  width: 50%;
  margin-top: 40px;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #646cff;
  color: #f0f8ff;
  cursor: pointer;
  transition: border-color 0.25s;
}
.delete-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  margin-top: 100px;
  align-items: flex-start;
  gap: 20px;
}
.delete-container h1 {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 20px;
}
.delete-container button {
  width: 50%;
  margin-top: 40px;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #e91e51;
  color: #f0f8ff;
  cursor: pointer;
  transition: border-color 0.25s;
}
