.crypto-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.crypto-table {
  width: 400px;
  height: 100%;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 1px 5px 0 #b3b1b1;
}
.crypto-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.crypto-nav span {
  font-weight: 600;
  font-size: 20px;
}
.crypto-nav button {
  font-weight: 600;
  font-size: 40px;
}
.table {
  width: 100%;
  padding: 10px;
}
.table table {
  width: 100%;
}
table tr {
  height: 50px;
  border-bottom: 1px solid rgb(219, 219, 219);
}

thead .coin {
  text-align: left;
}
thead th {
  text-align: right;
}
tbody td {
  text-align: right;
}
