@tailwind base;
@tailwind components;
@tailwind utilities;

body,
:root {
  margin: 0;
  height: 100vh;

  background-image: url('./assets/blue.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
